<div class="product-info">
    <form ng-if="(!currentProduct.isNotInitialized && !product.ean && !tmpProduct.ean)" class="product-not-found" role="form">
        <h1>Товар Не Найден</h1><a href="#/home">Вернутся</a>
    </form>
    <form role="form" ng-if="currentProduct.isNotInitialized" class="not-initialized"></form>
    <form name="product-info" ng-if="(currentProduct && !currentProduct.isNotInitialized && (tmpProduct.ean || product.ean))" role="form">
        <div class="form-group">
            <input type="text"
                   ng-model="currentProduct.name"
                   ng-class="{changed: checkName()}"
                   class="form-control"/>
        </div>
        <div class="form-group images-msc-e">
            <div product-image class="image" images="currentProduct.images" new-images="newImages"></div>
            <div class="msc-e">
                <ul>
                    <li>
                        <select ng-model="currentProduct.market"
                                ng-class="{changed: checkMarket()}"
                                id="market"
                                ng-options="market._id as market.name for market in markets">
                            <option value="">--Выберете Рынок--</option>
                        </select>
                    </li>
                    <li>
                        <select ng-model="currentProduct.section"
                                ng-class="{changed: checkSection()}"
                                id="section"
                                ng-options="section._id as section.name for section in sections">
                            <option value="">--Выберете Сегмент--</option>
                        </select>
                    </li>
                    <li>
                        <select ng-model="currentProduct.category"
                                ng-class="{changed: checkCategory()}"
                                id="category"
                                ng-options="category._id as category.name for category in categories">
                            <option value="">--Выберете Категорию--</option>
                        </select>
                    </li>
                    <li>
                        <select ng-model="currentProduct.family"
                                ng-class="{changed: checkFamily()}"
                                id="family"
                                ng-options="family._id as family.name for family in families">
                            <option value="">--Выберете Семью--</option>
                        </select>
                    </li>
                </ul>
                <div product-eans id="ean" current-ean="currentProduct.ean" ean="product.ean" tmp-ean="tmpProduct.ean"></div>
            </div>
        </div>
        <div class="form-group">
            <ul class="bulk">
                <li>
                    <input type="text"
                           placeholder="Масса/Обьем"
                           ng-model="currentProduct.details.bulk"
                           ng-class="{changed: checkDetailsBulk()}"
                           class="form-control"/>
                </li>
                <li>
                    <label>единица измерения</label>
                    <select ng-model="currentProduct.details.bulkUnit"
                            ng-class="{changed: checkDetailsBulkUnit()}"
                            ng-options="bulkUnit for bulkUnit in bulkUnits"></select>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <ul class="brand">
                <li>
                    <input type="text"
                           placeholder="Торговая марка"
                           ng-model="currentProduct.details.brand.name"
                           ng-class="{changed: checkDetailsBrandName()}"
                           class="form-control"/>
                </li>
                <li>
                    <input type="text"
                           ng-model="currentProduct.details.manufacturer"
                           ng-class="{changed: checkDetailsManufacturer()}"
                           placeholder="Производитель"
                           class="form-control">
                </li>
            </ul>
        </div>
        <div class="form-group countries">
            <select ng-model="currentProduct.details.country"
                    ng-class="{changed: checkDetailsCountry()}"
                    ng-options="country.name for country in countries">
                <option value="">-- Выберете Страну Производителя --</option>
            </select>
        </div>
        <div class="form-group address">
            <input class="form-control"
                   placeholder="Адрес мощностей производства"
                   ng-model="currentProduct.details.address"
                   ng-class="{changed:checkDetailsAddress()}"/>
        </div>
        <div class="form-group">
            <ul class="contact-info">
                <li>
                    <input type="text"
                           placeholder="Веб сайт"
                           class="form-control"
                           ng-pattern="/\w+((.)\w+)+/"
                           ng-class="{changed: checkDetailsWebsite()}"
                           ng-model="currentProduct.details.website"/>
                </li>
                <li>
                    <input type="text"
                           class="form-control"
                           placeholder="Номер телефона"
                           ng-pattern="/[(\d*)\(\)]/"
                           ng-class="{changed: checkDetailsPhone()}"
                           ng-model="currentProduct.details.phone"/>
                </li>
                <li>
                    <input type="text"
                           class="form-control"
                           placeholder="Электронная почта"
                           ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/"
                           ng-class="{changed: checkDetailsEmail()}"
                           ng-model="currentProduct.details.email"/>
                </li>
            </ul>
        </div>
        <div class="form-group summary">
            <label for="summary">Короткое Опосание Товара</label>
            <textarea id="summary"
                      class="form-control"
                      ng-class="{changed: checkDetailsSummary()}"
                      ng-model="currentProduct.details.summary"></textarea>
        </div>
        <div class="form-group consist">
            <label for="consist">Состав</label>
            <textarea id="consist"
                      class="form-control"
                      ng-class="{changed: checkDetailsConsist()}"
                      ng-model="currentProduct.details.consist"></textarea>
        </div>
        <div class="form-group nutritional">
            <label for="nutritional">Пещивая ценность</label>
            <ul id="nutritional">
                <li>
                    <input class="form-control"
                           placeholder="Жир"
                           ng-class="{changed: checkDetailsNutritionalFat()}"
                           ng-model="currentProduct.details.nutritional.fat"/>
                </li>
                <li>
                    <input class="form-control"
                           placeholder="Белки"
                           ng-class="{changed: checkDetailsNutritionalProtein()}"
                           ng-model="currentProduct.details.nutritional.protein"/>
                </li>
                <li>
                    <input class="form-control"
                           placeholder="Углеводы"
                           ng-class="{changed: checkDetailsNutritionalCarbohydrates()}"
                           ng-model="currentProduct.details.nutritional.carbohydrates">
                </li>
                <li>
                    <input class="form-control"
                           placeholder="Калории"
                           ng-class="{changed: checkDetailsNutritionalCaloric()}"
                           ng-model="currentProduct.details.nutritional.caloric">
                </li>
            </ul>
        </div>
        <div class="s-s-c-b">
            <ul>
                <li>
                    <select ng-class="{changed: checkStatus()}"
                            ng-model="currentProduct.status">
                        <option value="s1">S1</option>
                        <option value="s2">S2</option>
                        <option value="s3">S3</option>
                        <option value="s4">S4</option>
                    </select>
                </li>
                <li>
                    <button class="btn btn-success" ng-click="submit()">Сохранить</button>
                </li>
                <li>
                    <button class="btn btn-default" ng-click="back()">Вернутся</button>
                </li>
            </ul>
        </div>
    </form>
</div>
<div class="product-prices">
    <table class="table">
        <caption> Ценны в Магазинах</caption>
        <thead>
            <tr>
                <th>Магазин</th>
                <th>Цена</th>
                <th>Дата изменения</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="price in product.prices">
                <td>{{price.shop.name}}</td>
                <td>{{price.price}}</td>
                <td>{{price.date}}</td>
            </tr>
        </tbody>
    </table>
</div>