<div>
    <header>
        <div class="form-group" id="search-box">
            <input class="form-control" placeholder="Поиск" id="search-input" value="<%= typeof name != 'undefined' ? name : '' %>"/>
            <button id="search" class="btn btn-primary">Искать</button>
        </div>
    </header>
    <section class="product-list">

    </section>
    <footer>
        <% if (typeof market != "undefined" || typeof name != "undefined"){%>
            <nav class="nav-pagination">
                <ul class="pagination">
                    <li <%if(page == 1){%> class="disabled" <% } %>>
                        <a href="#<%= market %>/<%= section %>/<%= category %>/<%= page - 1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <%var prefix;%>
                    <% if(typeof name != "undefined"){ %>
                        <%prefix = "#search/" + name;%>
                    <%} else if(typeof market != "undefined"){%>
                        <%prefix = "#" +  market + "/" + section + "/" + category;%>
                    <% } %>
                    <li <%if(page == 1){%> class="active" <% } %>>
                        <a href="<%= prefix %>/1">1</a>
                    </li>
                    <% if(page - 5 > 1){ %>
                       <li>
                           <a href="<%= prefix %>/<%= page-5 %>"> ... </a>
                       </li>
                    <% } %>
                    <% var x = lastPage - page > 5 ? 5: 10 - (lastPage - page)%>
                    <% for(var i = (page - x > 1 ? page - x : 2), delta = page - x < 1 ? page - x : 0; i < page + Math.abs(delta) + x +1 && i < lastPage - 1; i++){%>
                        <li <%if(page == i){%> class="active" <% } %>>
                            <a href="<%= prefix %>/<%= i %>"><%= i %></a>
                        </li>
                    <% } %>

                    <% if(lastPage - page > 6){ %>
                        <li>
                            <a href="<%= prefix %>/<%= page + 5 %>"> ... </a>
                        </li>
                    <% } %>
                    <%if(lastPage != 1){%>
                        <li <%if(page == lastPage){%> class="active" <% } %>>
                            <a href="<%= prefix %>/<%= lastPage %>"><%= lastPage %></a>
                        </li>
                    <%}%>
                    <li <%if(page == lastPage){%> class="disabled" <% } %>>
                        <a href="#<%= prefix %>/<%= page + 1 %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        <% } %>
    </footer>
</div>