<haeder ng-controller="headerController" class="main-header">
    <nav class="navbar navbar-masthead navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand brand" href="#/home">
                    <img alt="OMPrice" src="">
                </a>
            </div>
            <form class="navbar-form navbar-left" onsubmit="return false;" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search" ng-keyup="keyUpHandler($event)" placeholder="Поиск Товара По EAN/Названию">
                </div>
                <button type="submit" ng-click="search()" class="btn btn-default">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:;" ng-click="uploadProducts()">Загрузить Продукты</a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="uploadPrices()">Загрузить Ценны</a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="uploadShops()">Загрузить Магазины</a>
                </li>
                <li>
                    <a href="javascript:;" ng-click="logout()">Выйти</a>
                </li>
            </ul>
            <input style="display:none;" id="uploader" type="file"/>
        </div>
        </div>
    </nav>
</haeder>
<article class="main-content" ng-view>

</article>
<footer class="main-footer">

</footer>