<form onsubmit="return false;" ng-controller="loginController" role="form" class="lf-center">
    <div class="form-group" name="dataUserName">
        <label for="InputUser">User Name</label>
        <input type="text" class="form-control" id="InputUser" ng-keyup="handleKeyUp($event)" placeholder="Enter email">
    </div>
    <div class="form-group"  name="dataPassword">
        <label for="InputPassword">Password</label>
        <input type="password" class="form-control" ng-keyup="handleKeyUp($event)" id="InputPassword"placeholder="Password">
    </div>
    <div ng-show="error" class="form-group login-error-message">
        <p>Username or password is wrong!</p>
    </div>
    <button type="submit" class="btn btn-default" ng-click="submit()">Login</button>
</form>