.product-info {
  width: 705px;
  margin-left: 10px;
}
.product-info .search-products-list ul {
  list-style-type: none;
}
.product-info .not-initialized {
  height: 500px;
}
.product-info .error {
  border-color: red !important;
}
.product-info .changed {
  color: red !important;
}
.product-info .tempimage {
  border: 1px solid red;
  padding: 2px;
}
.product-info .image {
  width: 200px;
  float: left;
  margin-left: 20px;
}
.product-info .image ul {
  width: 100%;
  height: 100%;
}
.product-info .image ul li {
  height: 100%;
  width: 100%;
}
.product-info .image ul li img {
  width: 100%;
  height: 100%;
}
.product-info .images-msc-e {
  overflow: hidden;
}
.product-info .images-msc-e .upload-images ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.product-info .images-msc-e .upload-images ul li {
  position: relative;
}
.product-info .images-msc-e .upload-images ul li .image-remove {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.product-info .images-msc-e .upload-images ul li input[type=file] {
  margin-left: 15px;
}
.product-info .images-msc-e .msc-e {
  width: 400px;
  margin-left: 260px;
  padding-top: 22px;
  min-height: 245px;
}
.product-info .images-msc-e .msc-e ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.product-info .images-msc-e .msc-e ul li {
  margin-bottom: 5px;
}
.product-info .images-msc-e .msc-e ul li select {
  width: 432px;
}
.product-info .images-msc-e .msc-e .product-eans {
  position: relative;
  min-height: 45px;
  border: 1px dashed blue;
}
.product-info .images-msc-e .msc-e .product-eans .ean-remove {
  float: right;
  cursor: pointer;
}
.product-info .images-msc-e .msc-e .product-eans .tmp-ean {
  background-color: red;
}
.product-info .images-msc-e .msc-e .product-eans ul {
  width: 160px;
}
.product-info .images-msc-e .msc-e .product-eans ul li {
  height: 22px;
  vertical-align: middle;
  text-align: center;
  padding: 2px;
  border: 1px solid whitesmoke;
  margin: 2px;
  background-color: lightgreen;
  color: white;
}
.product-info .images-msc-e .msc-e .product-eans button {
  position: absolute;
  right: 4px;
  bottom: 5px;
}
.product-info .bulk {
  list-style-type: none;
  margin: 0px 0 15px 1px;
  height: 30px;
}
.product-info .bulk li {
  float: left;
}
.product-info .bulk li label {
  float: left;
  margin: 5px;
}
.product-info .bulk li select {
  width: 50px;
  margin-top: 5px;
}
.product-info .brand {
  list-style-type: none;
  height: 30px;
  margin: 5px 0 5px 0;
}
.product-info .brand li {
  float: left;
  margin-right: 7px;
}
.product-info .countries select {
  margin-left: 40px;
  width: 620px;
}
.product-info .address input {
  margin-left: 40px;
  width: 620px;
}
.product-info .contact-info {
  list-style-type: none;
  height: 30px;
  margin: 5px 0 5px 0;
}
.product-info .contact-info li {
  float: left;
  width: 199px;
  margin-right: 7px;
}
.product-info .summary {
  padding-left: 38px;
}
.product-info .summary textarea {
  height: 100px;
}
.product-info .consist {
  padding-left: 38px;
}
.product-info .consist textarea {
  height: 100px;
}
.product-info .nutritional {
  padding-left: 38px;
}
.product-info .nutritional ul {
  list-style-type: none;
  padding: 0;
  height: 30px;
}
.product-info .nutritional ul li {
  float: left;
  margin-right: 7px;
  width: 78px;
}
.product-info .s-s-c-b {
  position: absolute;
  left: 632px;
  bottom: -10px;
}
.product-info .s-s-c-b select {
  margin-top: 7px;
}
.product-info .s-s-c-b ul {
  list-style-type: none;
  height: 30px;
}
.product-info .s-s-c-b ul li {
  float: left;
  margin-right: 15px;
}
